<div data-th-fragment="footerTemp" class="container-fluid bg-dark text-white py-5" id="contact" style="margin-top: 90px;">
	<div class="container text-center py-5">
		<div class="section-title position-relative text-center">
			<h1 class="font-secondary display-3 text-white">Thank You</h1>
			<i class="far fa-heart text-white"></i>
		</div>
		<div class="d-flex justify-content-center mb-4">
			<a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://api.whatsapp.com/send?phone=9592297120"><i class="fab fa-whatsapp"></i></a>
			<a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.linkedin.com/in/manpreet-singh-a947a6230/"><i class="fab fa-linkedin-in"></i></a>
			<a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.instagram.com/manpreetsingh.coder365"><i class="fab fa-instagram"></i></a>
			<a class="btn btn-lg btn-outline-light btn-lg-square " href="https://github.com/ManpreetSingh365"><i class="fab fa-github"></i></a>
		</div>
		<div class="d-flex justify-content-center py-2">
			<a class="text-white" href="mailto:manpreetsingh.coder365@gmail.com">manpreetsingh.coder365@gmail.com</a>
			<span class="px-3">|</span>
			<a class="text-white" href="tel:+919592297120">+919592297120</a>
		</div>
		
		<span class="block text-sm text-white sm:text-center dark:text-white">
			&copy;<span
				class="font-secondary  self-center text-md text-white font-semibold whitespace-nowrap dark:text-white">
				 <span class="text-primary">Ekam</span>MarriageBureau
			</span>
			<span class="text-white  dark:text-white"> Developed by -
				<span class="underline">
					<a href="https://manpreetsingh.vercel.app/" target="_blank">Manpreet Singh</a>
				</span>
			</span>
		</span>

	</div>
</div>
